<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
<title>Zmień adres email</title>
<meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" href="../css/styles.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">E-learning</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/user/home}">Home</a></li>
        <li><a th:href="@{/user/courses}">Kursy</a></li>
        <li><a th:href="@{/user/contact}">Kontakt</a></li>
        <li><a th:href="@{/user/account}">Moje konto</a></li>
        <li><a th:href="@{/logout}"><img th:src="@{../images/wyloguj.png}" src="../images/wyloguj.png" alt="Wyloguj" style="height: 30px; width: 30px" onmouseover="this.src='../images/wyloguj2.png'" onmouseout="this.src='../images/wyloguj.png'"/></a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div class="container-fluid bg-3 text-center">     -->
 
    
<!--     <form action="#" method="post" th:action="@{/user/changeEmail}" th:object="${newEmail}" > -->
<!-- 	<input  placeholder="Nowy adres e-mail" style="padding: 5px"/><br /> -->
<!--     <input type="submit" value="Dodaj przedmiot" /> -->
<!-- 	</form> -->
<!-- 	<a th:href="@{/user/home}">Wróć do strony głównej</a> -->
      
<!-- </div> -->

<div class="container-fluid fill bg-1">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/user/changeEmail}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Zmiana maila</h2>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="email" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Zmień email</button>
						</div>
					</div>
						
				</form>
				
				<br/>
	
			<a th:href="@{/user/account}">
   				<button type="button" class="btn btn-warning">Powrót do panelu użytkownika</button>
   			</a>
				
			</div>
		</div>
	</div>
</body>
</html>